fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic-settings==2.7.1
python-multipart==0.0.20
SQLAlchemy==2.0.36
alembic==1.14.0
psycopg[binary]==3.2.3
PyJWT==2.10.1
minio==7.2.12
celery[redis]==5.4.0
redis==5.2.1
prometheus-fastapi-instrumentator==7.1.0
sentry-sdk[fastapi]==2.20.0
